.borde{
	 border:thin;
	 margin:auto;
	 width:700px;
	 
}

.menu{

	 height:36px;
	 background:black;
	  color:  #FFFFFF;
	
 }  

.menu li { 
     float: left;   
     display: block; 
     height: 70px; 
     width:  70px;
     padding: 0 14px; 
         } 

.menu li a { 
       display: block;   
       line-height: 28px;  
     
       font-family: Helvetica, Arial, sans-serif;   
       font-weight: bold;  
       font-size: 13px;  
       color:#FFFFFF;
           
       }  
          
.menu li:hover > a { color: lime; } 

#capa4 {
	width: 100px;
	height: 50px;
	border: solid 5px #f60;
	position: relative;
	top: -50px;
	left: 500px;
}