a{
    color: white;
    font-size: 20px;
}

a:hover{
    display: block;
    background: red;
}

h1{
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    border-style: dotted;
    border-color: blue;
}

h1:hover{
    border-color: red;
    color: black;
    background-color: skyblue;
}

.borde2{
    width: 800px;
    margin: auto;
}

label{
    width: 25%;
    float: left;
}

fieldset{
    width: 300px;
}