a{
color:red;
}

a:hover{
    color:white;
    background:blue;
    display: block;
    font-size: 25px;
}

h1{
    color: green;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
    background-color: orange;
    text-align: center;
    border-style:  dashed;
    border-color: blue;
}

.borde{
    border: 2px solid #cccccc;
    width: 800px;
    margin: auto;
}

.borde2{
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.borde3{
    width: 800px;
    margin: auto;
    margin-top: 10px;
}

.control{
    background-color: green;
    color: rgb(255, 255, 255);
}

.btn{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 80px;
}

.btn:hover{
    background-color: orange;
    color: black;
    padding: 15px;
}

label{
    width: 25%;
    float: left;
}

div{
    margin-bottom: 10px;
}